header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background-color: $darkGrayColor;
	z-index: 1;
}

nav {
	width: clamp(700px, 80vw, 1170px);
	display: flex;
	justify-content: space-between;
}

a.logo-link {
	display: flex;
	justify-content: center;
}

div.mobile-menu-button {
	-webkit-tap-highlight-color: transparent;
	display: none;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 5px;
	position: absolute;
	top: 24px;
	left: 16px;
	width: 48px;
	height: 48px;
	border-radius: 12px;
	background-color: rgb(62, 62, 62);
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 3;

	span {
		display: block;
		width: 35px;
		border-radius: 3px;
		height: 4px;
		background: white;
		transition: all 0.35s ease;
	}
}

div.mobile-menu-button.is-active {
	span:nth-child(2) {
		opacity: 0;
	}

	span:nth-child(3) {
		transform: translateY(-12px) rotate(45deg);
	}

	span:nth-child(1) {
		transform: translateY(12px) rotate(-45deg);
	}
}

.mobile-nav {
	display: block;
	position: fixed;
	top: 0;
	left: calc(-100%);
	width: 100%;
	height: calc(100vh + 140px);
	z-index: 2;
	background-color: rgba(29, 28, 27, 0.98);
	transform: translateY(-70px);
	transition: all 0.5s ease;

	p.itam {
		position: absolute;
		left: 16px;
		bottom: 160px;
	}

	&.activated {
		left: 0;
	}
}

.mobile-nav-list {
	position: absolute;
	top: 270px;
	left: 16px;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.mobile-nav-list-item a {
	text-decoration: none;
	font-size: 4rem;
	color: white;
}

ul.main-nav-list {
	list-style: none;
	display: flex;
	gap: clamp(32px, 5vw, 64px);
	align-items: center;
}

li.main-nav-list-item {
	a {
		text-decoration: none;
		color: $grayColor;
		font-size: 1.15rem;
		font-weight: 300;
		transition: all 0.5s ease;

		&:hover {
			color: white;
		}
	}
}

ul.socials-list {
	list-style: none;
	display: flex;
	gap: 8px;
}

li.socials-list-item {
	transition: all 0.5s ease;

	&:hover {
		opacity: 0.85;
	}
}
