html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1d1c;
  color: rgba(255, 255, 255, 0.4784313725);
  font-family: "Manrope", sans-serif;
}

ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

section {
  width: 1170px;
  margin: 0 auto;
}

.h2-header {
  color: white;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #1e1d1c;
  z-index: 1;
}

nav {
  width: clamp(700px, 80vw, 1170px);
  display: flex;
  justify-content: space-between;
}

a.logo-link {
  display: flex;
  justify-content: center;
}

div.mobile-menu-button {
  box-sizing: border-box;
  padding: 10px 5px;
  position: absolute;
  top: 24px;
  left: 16px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: #777;
  flex-direction: column;
  justify-content: space-between;
}
div.mobile-menu-button span {
  display: block;
  width: 30px;
  border-radius: 3px;
  height: 4px;
  background: white;
  transition: all 0.1s ease;
}
div.mobile-menu-button span:nth-child(2) {
  width: 38px;
}
div.mobile-menu-button span:nth-child(3) {
  width: 25px;
}
div.mobile-menu-button:hover span:nth-child(2) {
  transform: rotate(45deg);
}

ul.main-nav-list {
  list-style: none;
  display: flex;
  gap: clamp(32px, 5vw, 64px);
  align-items: center;
}

li.main-nav-list-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4784313725);
  font-size: 1.15rem;
  font-weight: 300;
  transition: all 0.5s ease;
}
li.main-nav-list-item a:hover {
  color: white;
}

ul.socials-list {
  list-style: none;
  display: flex;
  gap: 8px;
}

li.socials-list-item {
  transition: all 0.5s ease;
}
li.socials-list-item:hover {
  opacity: 0.85;
}

section.main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-size: 10rem;
  line-height: 8rem;
  font-weight: 900;
  background: linear-gradient(78deg, rgb(255, 97, 134) 0%, rgb(255, 160, 103) 51.04%, rgb(207, 81, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.main-description {
  margin: 0 15px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.sponsors-carousel {
  position: relative;
  top: 100px;
  width: 1170px;
  display: flex;
  overflow: hidden;
}

.sponsors-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
  margin-left: 100px;
  animation: slider 15s infinite linear;
}

.sponsors-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors-carousel:hover .sponsors-list {
  animation-play-state: paused;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1236px);
  }
}
section.info {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
section.info img {
  width: 100%;
  height: 100%;
}

.info-cards {
  display: grid;
  grid-template-areas: "welcome welcome quote quote" "welcome welcome quote quote" "projects35 projects30 quote quote" "projects35 projects30 clubs courses";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(130px, 1fr));
  gap: 16px;
}

.info-sections {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  padding: 28px;
}

.cool-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: welcome;
}
.cool-projects h2 {
  background: linear-gradient(to right, rgb(240, 147, 251), rgb(245, 87, 108));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
}
.cool-projects p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: end;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: quote;
}
.quote p.text {
  font-size: 1.5rem;
  line-height: 1.85rem;
  font-weight: 400;
}
.quote p.author {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: end;
}

.about-proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: projects35;
}
.about-proj p.number {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  background: linear-gradient(to right, rgb(224, 195, 252), rgb(142, 197, 252));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.about-proj p.text {
  margin-top: 8px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.about-wins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: projects30;
}
.about-wins p.number {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  background: linear-gradient(to right, rgb(67, 233, 123), rgb(56, 249, 215));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.about-wins p.text {
  margin-top: 8px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.clubs {
  grid-area: clubs;
}
.clubs div.text {
  background: linear-gradient(to right, rgb(250, 112, 154), rgb(254, 225, 64));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.clubs p {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}
.clubs span.number {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

.courses {
  grid-area: courses;
}
.courses div.text {
  background: linear-gradient(to right, rgb(196, 113, 245), rgb(250, 113, 205));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.courses p {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}
.courses span.number {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

section.projects {
  margin-top: 150px;
}
section.projects h2 {
  margin-bottom: 90px;
}

ul.projects-list {
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

li.projects-list-item {
  box-sizing: border-box;
  padding: 24px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
li.projects-list-item:hover {
  border: 1px solid linear-gradient(78deg, rgb(42, 42, 42) 20%, rgb(255, 97, 134), rgb(255, 160, 103), rgb(207, 81, 255));
}
li.projects-list-item h3 {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  color: white;
  width: fit-content;
  margin-top: 24px;
}
li.projects-list-item p.hashtags {
  font-size: clamp(0.875rem, 5vw, 1.25rem);
  line-height: clamp(1rem, 5vw, 1.7rem);
  width: fit-content;
  font-weight: 500;
  margin-top: 60px;
}
li.projects-list-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

p.more-info {
  margin-top: 50px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
}
p.more-info a {
  color: white;
  text-decoration: none;
  position: relative;
}
p.more-info a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.3s ease;
}
p.more-info a:hover::before {
  transform: scaleX(1);
  transform-origin: top left;
}

section.partners {
  margin-top: 155px;
  overflow: hidden;
}
section.partners h2 {
  margin-bottom: 90px;
}

ul.partners-logos {
  display: flex;
  height: max-content;
  list-style: none;
  margin-bottom: 100px;
}

li.partner {
  display: inline-block;
  margin: 0 auto;
  min-width: clamp(108px, 20vw, 250px);
  height: clamp(108px, 20vw, 250px);
  position: relative;
}
li.partner img {
  width: clamp(108px, 20vw, 250px);
}

li.partner.sber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: clamp(108px, 20vw, 250px);
  height: clamp(108px, 20vw, 250px);
  left: -84px;
}
li.partner.sber img {
  width: clamp(76px, 15vw, 177px);
}

li.partner.skolkovo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 238, 37);
  border-radius: 50%;
  width: clamp(108px, 20vw, 250px);
  height: clamp(108px, 20vw, 250px);
  left: -252px;
}
li.partner.skolkovo img {
  width: clamp(66px, 15vw, 155px);
}

li.partner.misis {
  left: -168px;
}

li.partner.vk {
  left: -336px;
}

li.partner.and-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: clamp(0.875rem, 3vw, 1.5rem);
  line-height: clamp(0.875rem, 3vw, 1.5rem);
  font-weight: 500;
  text-align: center;
  left: -336px;
}
li.partner.and-more p.number {
  font-size: clamp(1rem, 5vw, 3rem);
  line-height: clamp(1.25rem, 5vw, 3.75rem);
  font-weight: 700;
}

.text-wrapper {
  display: flex;
  justify-content: end;
}
.text-wrapper p {
  width: 585px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
}

section.teams {
  margin-top: 110px;
}
section.teams h2 {
  margin-bottom: 90px;
}

ul.teams-list {
  box-sizing: border-box;
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(5, 1fr);
  list-style: none;
}

li.teams-list-item {
  position: relative;
  height: 409px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 36px;
}
li.teams-list-item img {
  width: clamp(162px, 30vw, 297px);
  height: auto;
  position: absolute;
  bottom: 56px;
}
li.teams-list-item h3 {
  font-size: clamp(2.25rem, 10vw, 4rem);
  line-height: clamp(2.25rem, 10vw, 4rem);
  font-weight: 700;
  color: white;
}

ul.tag-list {
  position: absolute;
  bottom: 36px;
  display: flex;
  gap: 12px;
  list-style: none;
}

.tag-list-item {
  color: rgba(255, 255, 255, 0.36);
  font-size: 1.5rem;
  padding: 8px 16px;
  border: 2px solid rgba(255, 255, 255, 0.36);
  border-radius: 8px;
}

.teams-list-item.right h3 {
  text-align: right;
}
.teams-list-item.right ul.tag-list {
  right: 36px;
}
.teams-list-item.right img {
  left: 56px;
}

.teams-list-item.left h3 {
  text-align: left;
}
.teams-list-item.left ul.tag-list {
  left: 36px;
}
.teams-list-item.left img {
  right: 56px;
}

section.mass-media {
  margin-top: 150px;
}
section.mass-media h2 {
  margin-bottom: 140px;
}

ul.mass-media-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
}

li.mass-media-list-item {
  height: 436px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  position: relative;
}
li.mass-media-list-item h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  position: absolute;
  bottom: 44px;
  width: 500px;
}
li.mass-media-list-item img {
  position: absolute;
  top: 36px;
  height: 364px;
  width: 587px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
li.mass-media-list-item p.media {
  position: absolute;
  top: 44px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  color: white;
}
li.mass-media-list-item.left p {
  left: 0;
}
li.mass-media-list-item.left h3 {
  left: 0;
}
li.mass-media-list-item.left img {
  right: 0;
}
li.mass-media-list-item.right p {
  right: 0;
}
li.mass-media-list-item.right h3 {
  right: 0;
}
li.mass-media-list-item.right img {
  left: 0;
}

section.achievements {
  margin-top: 150px;
}
section.achievements h2 {
  margin-bottom: 24px;
}

ul.year-list {
  display: flex;
  gap: 40px;
  list-style: none;
  justify-content: center;
  margin-bottom: 80px;
}

li.year-list-item {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
li.year-list-item:hover {
  color: white;
}
li.year-list-item.selected {
  color: white;
  font-weight: 800;
}

ul.achievements-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  list-style: none;
  font-size: 2rem;
}

li.achievements-list-item {
  display: flex;
  justify-content: space-between;
}
li.achievements-list-item p.place {
  color: white;
  font-weight: 700;
}

section.team {
  margin-top: 150px;
  width: fit-content;
}
section.team h2 {
  margin-bottom: 140px;
}

div.team-carousel {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  width: 1440px;
  overflow: hidden;
}

.team-carousel:hover ul.team-list {
  animation-play-state: paused;
}

ul.team-list {
  display: flex;
  gap: 30px;
  list-style: none;
  height: 490px;
  position: relative;
  animation: team-slider 25s infinite linear;
}

@keyframes team-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2400px);
  }
}
li.team-list-item {
  min-width: 270px;
}

div.card-wrapper img {
  width: 270px;
  border-radius: 16px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
div.card-wrapper h3.name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 2px;
}
div.card-wrapper p.sub {
  line-height: 1.2rem;
  margin-left: 2px;
  font-weight: 500;
  text-align: left;
}

.bregman {
  position: absolute;
  top: 54px;
}
.bregman img {
  height: 375px;
}

.efimov {
  position: absolute;
  top: 0;
}
.efimov img {
  height: 270px;
}

.divekha {
  position: absolute;
  top: 54px;
}
.divekha img {
  height: 270px;
}

.kim {
  position: absolute;
  top: 19px;
}
.kim img {
  height: 375px;
}

.malafeev {
  position: absolute;
  top: 100px;
}
.malafeev img {
  height: 270px;
}

.alkheev {
  position: absolute;
  top: 54px;
}
.alkheev img {
  height: 375px;
}

.shubkin {
  position: absolute;
  top: 19px;
}
.shubkin img {
  height: 270px;
}

.stepovoy {
  position: absolute;
  top: 0;
}
.stepovoy img {
  height: 375px;
}

div.quote-wrapper {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
div.quote-wrapper p {
  width: 630px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}
div.quote-wrapper p.about-us {
  color: white;
  width: auto;
  font-size: 1.5rem;
  font-weight: 400;
}
div.quote-wrapper span.itam {
  font-weight: 1000;
  background: linear-gradient(to right, rgb(240, 147, 251), rgb(245, 87, 108));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section.socials {
  margin-top: 150px;
  padding-bottom: 275px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
section.socials h2 {
  margin-bottom: 140px;
}

ul.oursocials-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

li.oursocials-list-item {
  width: 270px;
  height: 198px;
  box-sizing: border-box;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  position: relative;
}
li.oursocials-list-item h3 {
  font-size: 1.75rem;
  color: white;
}
li.oursocials-list-item p {
  font-size: 1.25rem;
  margin-top: 4px;
}
li.oursocials-list-item img {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

footer {
  width: 1170px;
  margin: 0 auto;
  height: 140px;
  margin-top: 40px;
  margin-bottom: 70px;
  position: relative;
}
footer img.logo {
  height: 20px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
footer p.year {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer ul.footer-nav {
  position: absolute;
  top: 0;
  left: 200px;
  display: flex;
  list-style: none;
  gap: 43px;
}
footer ul.authors-list {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  gap: 50px;
}
footer li.authors-list-item {
  height: 140px;
}
footer li.authors-list-item p.name {
  margin-top: 24px;
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
}
footer li.authors-list-item img.social {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1170px) {
  body {
    width: 100vw;
  }
  section {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
@media screen and (max-width: 730px) {
  header {
    background-color: rgba(255, 0, 0, 0);
  }
  ul.socials-list,
  ul.main-nav-list {
    display: none;
  }
  img.itam-logo {
    display: none;
  }
  div.mobile-menu-button {
    display: flex;
  }
}
@media screen and (max-width: 1170px) {
  section.main {
    padding: 0;
    display: block;
    height: fit-content;
  }
  .main-text {
    margin-top: 94px;
    font-size: 8rem;
    line-height: 8rem;
  }
  .main-description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }
  .sponsors-carousel {
    width: 100vw;
    top: 0;
    margin-top: 70px;
  }
}
@media (max-width: 866px) {
  section.info {
    margin-top: 70px;
    display: block;
  }
  section.info img {
    display: none;
  }
  .info-sections {
    position: relative;
    box-sizing: border-box;
    padding: 13px;
  }
  .info-cards {
    display: grid;
    grid-template-areas: "welcome welcome" "projects35 projects30" "quote quote" "clubs courses";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .cool-projects h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .cool-projects p {
    font-size: 0.875rem;
  }
  .quote p.text {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .quote p.author {
    margin-top: 30px;
    font-size: 1rem;
  }
  .about-proj {
    justify-content: flex-start;
  }
  .about-proj p.number {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .about-proj p.text {
    margin-top: 16px;
    font-size: 0.875rem;
  }
  .about-wins {
    justify-content: flex-start;
  }
  .about-wins p.number {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .about-wins p.text {
    margin-top: 16px;
    font-size: 0.875rem;
  }
  .clubs div.text {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(224, 195, 252), rgb(142, 197, 252));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .clubs p {
    line-height: 2rem;
    font-size: 2rem;
  }
  .clubs span.number {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .courses div.text {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(196, 113, 245), rgb(250, 113, 205));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .courses p {
    line-height: 2rem;
    font-size: 2rem;
  }
  .courses span.number {
    line-height: 3.5rem;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1170px) {
  ul.projects-list {
    width: 100%;
  }
}
@media screen and (max-width: 866px) {
  section.projects {
    margin-top: 65px;
  }
  section.projects h2 {
    font-size: 2.25rem;
    margin-bottom: 50px;
  }
  ul.projects-list {
    box-sizing: border-box;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  li.projects-list-item {
    padding: 16px;
  }
  li.projects-list-item h3 {
    color: white;
    margin-top: 12px;
  }
  li.projects-list-item p.hashtags {
    margin-top: 36px;
  }
  li.projects-list-item:nth-last-child(-n+2) {
    display: none;
  }
  p.more-info {
    margin-top: 32px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 866px) {
  section.partners {
    width: 100%;
    margin-top: 65px;
  }
  section.partners h2 {
    font-size: 2.25rem;
    margin-bottom: 36px;
  }
  ul.partners-logos {
    width: 100%;
    height: fit-content;
    margin-bottom: 36px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(108px, 1fr));
    grid-template-rows: repeat(2, minmax(108px, 1fr));
  }
  li.partner {
    position: static;
  }
  .text-wrapper {
    display: block;
  }
  .text-wrapper p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 1170px) and (min-width: 866px) {
  ul.partners-logos {
    transform: translateX(calc((100vw - (120vw - 336px)) / 2));
  }
}
@media screen and (max-width: 866px) {
  section.teams {
    width: 100%;
    margin-top: 65px;
  }
  section.teams h2 {
    font-size: 2.25rem;
    margin-bottom: 32px;
  }
  ul.teams-list {
    gap: 16px;
  }
  li.teams-list-item {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
  }
  li.teams-list-item h3 {
    font-size: 2.25rem;
    order: 1;
  }
  li.teams-list-item img {
    order: 0;
    bottom: initial;
    top: 60px;
  }
  .teams-list-item.right h3 {
    text-align: center;
  }
  .teams-list-item.right img {
    left: initial;
    right: initial;
  }
  .teams-list-item.left h3 {
    text-align: center;
  }
  .teams-list-item.left img {
    left: initial;
    right: initial;
  }
  ul.tag-list {
    order: 2;
    margin-bottom: 60px;
    position: static;
    display: flex;
    margin-top: 16px;
    gap: 12px;
    list-style: none;
  }
  .tag-list-item {
    color: rgba(255, 255, 255, 0.36);
    font-size: 1rem;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 1170px) {
  section.mass-media {
    margin-top: 65px;
  }
  section.mass-media h2 {
    font-size: 2.25rem;
    margin-bottom: 35px;
  }
  li.mass-media-list-item {
    box-sizing: border-box;
    padding: 15px 0;
    height: clamp(84px, 40vw, 436px);
  }
  li.mass-media-list-item h3 {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: clamp(1.25rem, 3vw, 2.5rem);
    bottom: initial;
    top: 15px;
    width: 55.5555555556%;
  }
  li.mass-media-list-item img {
    top: 15px;
    height: calc(100% - 30px);
    width: calc(44.4444444444% - 15px);
  }
  li.mass-media-list-item p.media {
    top: initial;
    bottom: 15px;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    line-height: clamp(0.875rem, 2vw, 1.8rem);
  }
}
@media screen and (max-width: 866px) {
  section.achievements {
    margin-top: 65px;
  }
  section.achievements h2 {
    font-size: 2.25rem;
    margin-bottom: 16px;
  }
  ul.year-list {
    gap: clamp(20px, 5vw, 40px);
    margin-bottom: 35px;
  }
  li.year-list-item {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  ul.achievements-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.5rem;
  }
  li.achievements-list-item {
    display: flex;
    flex-direction: column;
  }
  li.achievements-list-item p.place {
    margin-left: 2px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1441px) {
  @keyframes team-slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2288px);
    }
  }
  section.team {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 65px;
    width: 100%;
  }
  section.team h2 {
    order: 0;
    font-size: 2.25rem;
    margin-bottom: 16px;
  }
  div.team-carousel {
    order: 2;
    gap: 16px;
    width: 100vw;
  }
  ul.team-list {
    display: flex;
    gap: 16px;
  }
  li.team-list-item {
    min-width: 270px;
  }
  div.quote-wrapper {
    order: 1;
    width: initial;
    margin: 0;
    margin-bottom: 35px;
  }
  div.quote-wrapper p {
    margin: 0 15px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
  }
  div.quote-wrapper p.about-us {
    display: none;
  }
}
@media screen and (max-width: 866px) {
  section.socials {
    margin-top: 65px;
    padding-bottom: 0;
    border-bottom: initial;
    width: 100%;
  }
  section.socials h2 {
    font-size: 2.25rem;
    margin-bottom: 48px;
  }
  ul.oursocials-list {
    aspect-ratio: 1/1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    gap: 16px;
  }
  li.oursocials-list-item {
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    position: relative;
  }
  li.oursocials-list-item h3 {
    font-size: 1.25rem;
    color: white;
  }
  li.oursocials-list-item p {
    font-size: 1rem;
    margin-top: 4px;
  }
  li.oursocials-list-item img {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
@media screen and (max-width: 1171px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
  }
  footer ul.footer-nav {
    text-align: center;
    order: 1;
    position: static;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 36px;
  }
  footer ul.footer-socials-list {
    order: 2;
    display: flex;
    gap: 8px;
    list-style: none;
  }
  footer img.logo {
    order: 3;
    height: 20px;
    width: 60px;
    position: static;
    top: 0;
    left: 0;
  }
  footer p.year {
    order: 5;
    color: white;
    position: static;
    bottom: 0;
    left: 0;
  }
  footer ul.authors-list {
    order: 4;
    position: static;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 36px;
  }
  footer li.authors-list-item {
    height: initial;
    text-align: center;
  }
  footer li.authors-list-item p.name {
    margin-top: 8px;
    font-size: 1.25rem;
    color: white;
    font-weight: 500;
  }
  footer li.authors-list-item img.social {
    display: none;
    position: static;
    bottom: 0;
  }
}

/*# sourceMappingURL=index.css.map */
