$darkGrayColor: rgb(29, 28, 27);
$grayColor: #ffffff7a;

$standardSize: 20px;

html {
	scroll-behavior: smooth;
}

.fixed {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: $darkGrayColor;
	color: $grayColor;
	font-family: 'Manrope', sans-serif;
}

ul,
li,
h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

a {
	-webkit-tap-highlight-color: transparent;
}

.hidden {
	display: none;
}

section {
	width: 1170px;
	margin: 0 auto;
}

@import './uikit.scss';
@import './header.scss';
@import './sections/main.scss';
@import './sections/info.scss';
@import './sections/projects.scss';
@import './sections/partners.scss';
@import './sections/teams.scss';
@import './sections/media.scss';
@import './sections/achievements.scss';
@import './sections/team.scss';
@import './sections/socials.scss';
@import './footer.scss';
@import './adaptive.scss';
